<%= form_tag(life_index_path, :id => "form_grid", :method => :post) do %>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-4 txt-white col-form-label col-form-label-sm">Rows : </label>
    <div class="col-sm-8">
      <%= number_field_tag :rows, @rows, class: "form-control form-control-sm"%>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-4 txt-white col-form-label col-form-label-sm">Cols : </label>
    <div class="col-sm-8">
      <%= number_field_tag :cols, @cols, class: "form-control form-control-sm"%>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <%= button_tag "Reload Grid", type: 'submit', :class => "btn btn-block btn-secondary btn-sm "%>
    </div>

  </div>
<% end %>

